In [13]:
import yfinance as yf
import pandas as pd

In [5]:
ticker = yf.ticker.Ticker("TQQQ")

In [6]:
ticker.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2025-01-22 00:00:00-05:00,86.839996,88.910004,86.709999,87.800003,43132700,0.0,0.0,0.0
2025-01-23 00:00:00-05:00,86.540001,88.379997,86.269997,88.339996,30240500,0.0,0.0,0.0
2025-01-24 00:00:00-05:00,88.430000,88.830002,86.010002,86.750000,36239600,0.0,0.0,0.0
2025-01-27 00:00:00-05:00,77.580002,81.029999,77.180000,79.139999,80910800,0.0,0.0,0.0
2025-01-28 00:00:00-05:00,79.580002,83.169998,78.000000,82.650002,50516700,0.0,0.0,0.0
2025-01-29 00:00:00-05:00,82.910004,82.980003,80.260002,82.139999,59240600,0.0,0.0,0.0
2025-01-30 00:00:00-05:00,83.470001,84.589996,80.860001,83.169998,57585500,0.0,0.0,0.0
2025-01-31 00:00:00-05:00,84.919998,87.089996,82.180000,82.720001,59334600,0.0,0.0,0.0
2025-02-03 00:00:00-05:00,78.529999,81.989998,77.339996,80.720001,76628500,0.0,0.0,0.0
2025-02-04 00:00:00-05:00,80.910004,83.940002,80.730003,83.650002,42317300,0.0,0.0,0.0
2025-02-05 00:00:00-05:00,82.349998,84.820000,81.760002,84.739998,39847400,0.0,0.0,0.0
2025-02-06 00:00:00-05:00,84.959999,86.129997,84.190002,86.010002,38215500,0.0,0.0,0.0
2025-02-07 00:00:00-05:00,86.260002,87.190002,82.349998,82.730003,55435200,0.0,0.0,0.0
2025-02-10 00:00:00-05:00,84.730003,86.199997,84.500000,85.639999,32797100,0.0,0.0,0.0
2025-02-11 00:00:00-05:00,84.070000,85.989998,84.010002,85.029999,31301400,0.0,0.0,0.0
2025-02-12 00:00:00-05:00,82.279999,85.610001,82.099998,85.199997,48493300,0.0,0.0,0.0
2025-02-13 00:00:00-05:00,85.980003,88.959999,85.580002,88.790001,46460100,0.0,0.0,0.0
2025-02-14 00:00:00-05:00,88.809998,90.180000,88.599998,89.830002,38028700,0.0,0.0,0.0
2025-02-18 00:00:00-05:00,90.629997,90.750000,88.750000,90.389999,34412600,0.0,0.0,0.0
2025-02-19 00:00:00-05:00,90.000000,91.120003,88.919998,90.400002,34257900,0.0,0.0,0.0
2025-02-20 00:00:00-05:00,90.050003,90.230003,86.889999,89.300003,40133000,0.0,0.0,0.0
2025-02-21 00:00:00-05:00,89.769997,89.790001,83.470001,83.709999,59083200,0.0,0.0,0.0

In [14]:
today = pd.Timestamp.today().normalize()

# Generate the last 5 business days
business_dates = pd.date_range(end=today, periods=5, freq='B')

DATE_FORMAT = "%Y-%m-%d"

start = business_dates[0].strftime( DATE_FORMAT )
end = business_dates[-1].strftime( DATE_FORMAT )

In [ ]:
ticker.history(start="2025-02-17", end="2025-02-21")

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2025-02-18 00:00:00-05:00,90.629997,90.750000,88.750000,90.389999,34412600,0.0,0.0,0.0
2025-02-19 00:00:00-05:00,90.000000,91.120003,88.919998,90.400002,34257900,0.0,0.0,0.0
2025-02-20 00:00:00-05:00,90.050003,90.230003,86.889999,89.300003,40133000,0.0,0.0,0.0

In [16]:
ticker.history(start=start, end=end)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2025-02-18 00:00:00-05:00,90.629997,90.750000,88.750000,90.389999,34412600,0.0,0.0,0.0
2025-02-19 00:00:00-05:00,90.000000,91.120003,88.919998,90.400002,34257900,0.0,0.0,0.0
2025-02-20 00:00:00-05:00,90.050003,90.230003,86.889999,89.300003,40133000,0.0,0.0,0.0